*html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: monospace;
  font-size: 20px;
  padding-top: 50px;
  background-color: brown;
  color: white;
  scroll-behavior: smooth;
}

#navbar {
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: flex-end;
  position: fixed;
  top: 0px;
  align-items: center;
  height: 50px;
}

.navlinks {
  display: flex;
  list-style: none;
}

.navitem a {
  padding: 0 20px;
  text-decoration: none;
  color: white;
}

section {
  text-align: center;
  color: black;
}

#welcome-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-tile {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  height: 100vh;
}

img {
  height: 250px;
  width: 350px;
}

#Contact {
  background-color: palevioletred;
}

#project {
  height: 100vh;
  color: azure;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.caption {
  display: inline-block;
}

.row {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#Contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h1 {
  text-align: center;
}

h4::before {
  content: "\f09b";
}

.btn {
  padding-right: 5px;
}

.contact-details {
  transition: transform 0.3s ease-in;
  font-size: 20px;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

a {
  text-decoration: none;
  color: white;
}

.fab::before {
  content: " ";
}

.project-header {
  padding-top: 50px;
}
