html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 15px;
  background-color: rgb(211, 199, 199);
  scroll-behavior: smooth;
}

#navbar {
  position: fixed;
  padding: 30px;
  width: 300px;
  top: 0;
  left: 0;
  background-color: beige;
  opacity: 0.9;
  height: 100vh;
  border-right: 2px solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navv-link {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.nav-link {
  border-bottom: 1px solid grey;
  padding: 10px;
  text-decoration: none;
}

.link:hover {
  background-color: grey;
  transition: background-color 0.5s ease-in-out;
}

#main-doc {
  margin-left: 400px;
  margin-right: 40px;
  text-align: justify;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}

code {
  display: block;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  line-height: 20px;
  text-align: left;
  position: relative;
  white-space: pre;
  opacity: 0.9;
}

@media (max-width: 1200px) {
  #navbar {
    width: 150px;
    height: 100vh;
  }

  #main-doc {
    margin-left: 250px;
    font-size: 10px;
  }

  h2 {
    font-size: 20px;
  }
}
